<br />

<h3 class="alinhamento-centro">Autores - Adicionar</h3>

<div class="formulario">
  <table class="mat-elevation-z8">
    <thead>
      <th class="alinhamento-esquerda">Nome:</th>
    </thead>
    <body>
      <tr class="alinhamento-esquerda">
        <input type="text" name="name" [(ngModel)]="authorModel.name" />&nbsp;
        <input
          type="button"
          name="buttonAdd"
          (click)="add()"
          value="Adicionar"
        />
      </tr>
    </body>
  </table>
</div>
