<br />

<h3 class="alinhamento-centro">Autores - Lista</h3>

<br />
<div class="alinhamento-centro">
    <button type="button" class="btn btn-link" (click)="add()">Adicionar</button>
</div>
<br />

<table class="mat-elevation-z8">
    <thead>
        <th>
            Nome
        </th>
        <th>
            Ações
        </th>        
    </thead>
    <tbody>
        <tr *ngFor="let author of authors">
            <td class="alinhamento-centro">
                {{ author.name }}
            </td>
            <td class="alinhamento-centro">
                <button type="button" class="btn btn-link" (click)="edit(author.id)">Editar</button>&nbsp;&nbsp;
                <button type="button" class="btn btn-link" (click)="remove(author.id)">Excluir</button>
            </td>
        </tr>
    </tbody>
</table>