@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

table {
    width: 90%;
    margin: 0 auto;
  }
  
.alinhamento-centro {
  text-align: center;
}

.alinhamento-esquerda {
  text-align: left;
}

.formulario {
  width: 70%;
  margin: 0 auto;
}