<br />

<h3 class="alinhamento-centro">Gênero - Editar</h3>

<div class="formulario">
  <table class="mat-elevation-z8">
    <thead>
      <th class="alinhamento-esquerda">Nome:</th>
    </thead>
    <body>
      <tr class="alinhamento-esquerda">
        <input type="text" name="name" [(ngModel)]="genderModel.name" />&nbsp;
        <input
          type="button"
          name="buttonUpdate"
          (click)="update()"
          value="Atualizar"
        />
      </tr>
    </body>
  </table>
</div>
